/*LINKS*/
a {
  text-decoration: none;
  color: #0645AD;
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.top p span {
  font-weight: 600;
}

.top {
  width: 90%;
  margin: 0 auto;
}

.top p {
  text-align: justify;
}

.top p, p {
  font-size: 20px;
  font-family: sans-serif;
  line-height: 1.5;
  margin-top: 19.5px;
  margin-bottom: 19.5px;
}

.welcome {
  display: flex;
  justify-content: flex-end;
  margin: 19.5px auto;

}

.icon-container {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  margin-top: 2em;
}

  .icon-container > a {
    /*height: 135px;
    width: 135px;*/

    /*background-color: green;*/
    margin: 20px;
  }
  .icon-container img {
    height: 175px;
  }

  .imagine {

    border-top: solid 1px lightgrey;
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 10px auto;
  }

    .imagine p {

      text-align: center;
      font-size:13px;
    }
  footer {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 13px;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  /*MEDIA QUERIES*/
